{% extends 'base.html' %}

{% block title %}Adicionar | {{super()}} {% endblock %}

{% block content %}
<div id="main-content">
    <div id="add-contato">
        <span class="titulo">
            Adicionar Contatos
        </span>
        <!-- Formulário para adicionar contatos -->
        <form action="" class="form-padrao" method="POST" enctype="multipart/form-data">
            <h3>Informações</h3>
            {{ form.csrf_token }}

            {{ form.nome(class="campotexto", class="input-text", placeholder="Nome Completo") }}

            {{ form.telefone(class="campotexto", class="input-text", placeholder="Telefone") }}

            {{ form.email(class="campotexto", class="input-text", placeholder="E-mail") }}

            {{ form.cidade(class="campotexto", class="input-text", placeholder="Cidade") }}

            {{ form.profissao(class="campotexto", class="input-text", placeholder="Profissao") }}

            {{ form.grupo(class="select-field2") }}

            <div class="foto-perfil">
              <button class="btn-foto-perfil2">Foto do Perfil</button>
                {{ form.image }}
            </div>

            <button type="submit" class="botao-form">ADICIONAR</button>
        </form>
    </div>
</div>
{% endblock %}