{% extends 'base.html' %}

{% block title %}Editar Grupo | {{super()}} {% endblock %}

{% block content %}
<div id="main-content">
    <div id="add-contato">
        <span class="titulo">
            Editar Grupo
        </span>
        <!-- Formulário para adicionar contatos -->
        <form action="" class="form-padrao" method="POST" enctype="multipart/form-data">
            <h3>Informações</h3>
            {{ form.csrf_token }}
            {{
                form.grupo(class="input-text", placeholder="Nome do Grupo", value=grupo.nome)
            }}

            <button type="submit" class="botao-form">EDITAR</button>
        </form>
    </div>
</div>
{% endblock %}