{% extends 'base.html' %}

{% block title %}Editar Contato | {{super()}} {% endblock %}

{% block content %}
<div id="main-content">
    <div id="add-contato">
        <span class="titulo">
            Editar Contato
        </span>
        <!-- Formulário para adicionar contatos -->
        <form action="" method="POST" enctype="multipart/form-data" class="form-padrao">
            {{ form.csrf_token }}
            <h3>Informações</h3>
            {{ form.nome(type="text", placeholder="Nome Completo", value=contato_atual.nome, class="input-text") }}
            {{ form.email(type="text", placeholder="E-mail", value=contato_atual.email, class="input-text") }}
            {{ form.telefone(type="text", placeholder="Número", value=contato_atual.telefone, class="input-text") }}
            {{ form.cidade(type="text", placeholder="Cidade", value=contato_atual.cidade, class="input-text") }}
            {{ form.profissao(type="text", placeholder="Profissão", value=contato_atual.profissao, class="input-text") }}
            {{ form.grupo(class="select-field") }}
            <div class="foto-perfil">
              <div class="btn-foto-perfil">Foto do Perfil</div>
                {{ form.image }}
            </div>

            <button type="submit" class="botao-form">EDITAR</button>
        </form>
    </div>
</div>
{% endblock %}
