{% extends 'base.html' %}

{% block title %}Grupos | {{super()}} {% endblock %}

{% block content %}
<div id="main-content">
    <div id="criar-grupo">
        <span class="titulo">
            Criar Grupo
        </span>
        <!-- Formulário para adicionar contatos -->
        <form action="" class="form-grupo" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{
                form.grupo(class="input-text", placeholder="Nome do Grupo")
            }}

            <button type="submit" class="botao-form">CRIAR</button>
        </form>
    </div>

    <div id="lista-grupos">
        <span class="titulo">
            Seus Grupos
        </span>
        <!-- Formulário para adicionar contatos -->
        <div id="grupos">
            {% for grupo in grupos %}
            <div class="grupo">
                <span class="nome-grp">
                    {{ grupo.nome }}
                </span>
                <div class="icons-grp">
                    <a href="{{ url_for('att_grupo', idg=grupo.id) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ url_for('deletar_grupo', idg=grupo.id) }}"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}