{% extends 'base.html' %}

{% block title %}Seus Contatos | {{super()}} {% endblock %}

{% block content %}

<div id="main-content">
    <div id="index">
        <!-- Titulo da pagina -->
        <div class="tit-filt">
            <span class="titulo">
                Seus contatos
            </span>

            <!-- Filtragem -->
            <form action="" method="POST" enctype="multipart/form-data" class="filtro">

                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
                    </svg>
                </button>

                {{ form.csrf_token }}
                {{ form_gp.grupo(class="filtro-select") }}

                <div style="clear:both"></div>
            </form>
        </div><!-- /Fim titulo da pagina e filtragem -->

        <!-- Barra de pesquisa -->
        <form action=""  method="POST" enctype="multipart/form-data" class="pesquisa">
            {{ form.csrf_token }}
            {{ form.busca(type="text", placeholder="Buscar", class="pesquisa-input") }}
            <button type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
        </form> <!-- /Fim pesquisa -->

        <!-- Listagem dos contatos -->
        <div id="contatos">

            {% for contato in contatos %}
                <div class="contato">
                    <!-- Foto do Perfil -->
                    <img src="{{ contato.image }}" alt="" class="perfil">

                    <!-- Nome - editar/excluir -->
                    <div class="name-edit-delete">
                        <a href="{{ url_for('ver_contato', idc=contato.id) }}"><span class="nome">{{ contato.nome }}</span></a>

                        <a class="icones" href="{{ url_for('deletar_contato', idc=contato.id) }}"><i class="fa-solid fa-trash"></i></a>
                        <a class="icones" href="{{ url_for('att_contato', idc=contato.id) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <div style="clear: both;"></div>
                    </div>

                    <!-- Informações -->
                    <ul class="infos">
                        <li><i class="fa-solid fa-envelope"></i>{{ contato.email }}</li>
                        <li><i class="fa-solid fa-phone"></i>{{ contato.telefone }}</li>
                        <li><i class="fa-solid fa-users"></i>{{ contato.grupo.nome }}</li>
<!--                        <li><i class="fa-solid fa-suitcase"></i>{{ contato.profissao }}</li>-->
<!--                        <li><i class="fa-solid fa-location-dot"></i>{{ contato.cidade }}</li>-->
                    </ul>
                </div>
                <div style="clear: both;"></div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}