{% extends 'base.html' %}

{% block title %}Contato | {{super()}} {% endblock %}

{% block content %}

<div id="main-content">
    <div id="ver-contato">

        <!-- Visualização individual do contato -->
        <div class="form-padrao">
            <img src="{{ contato.image }}" alt="">
            <h3>{{ contato.nome }}</h3>

            <span>E-mail</span>
            <h4>{{ contato.email }}</h4>

            <span>Número</span>
            <h4>{{ contato.telefone }}</h4>

            <span>Cidade</span>
            <h4>{{ contato.cidade }}</h4>

            <span>Profissão</span>
            <h4>{{ contato.profissao }}</h4>

            <span>Grupo</span>
            <h4>{{ contato.grupo.nome }}</h4>

            <a href="{{ url_for('att_contato', idc=contato.id) }}"><button class="botao-form">EDITAR</button></a>
        </div>
    </div>
</div>
{% endblock %}