{% extends 'base.html' %}

{% block title %}Contato | {{super()}} {% endblock %}

{% block content %}

    <div class="individual-contact">
                <div class="panel">
                    <div class="panel-body p-t-10">

                        <div class="media-main">
                            <a class="pull-left" href="#">
                                <img class="thumb-lg img-circle bx-s" src="{{ contato.image }}" alt="">
                            </a>
                            <div class="pull-right btn-group-sm">
                                <a href="{{ url_for('att_contato', idc=contato.id) }}" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Editar">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ url_for('deletar_contato', idc=contato.id) }}" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Deletar">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                            <div class="info">
                                <h4> {{ contato.nome }}</h4>
                                <p class="text-muted">Número de Telefone: {{ contato.telefone }}</p>
                                <p class="text-muted">E-mail: {{ contato.email }}</p>
                                <p class="text-muted">Cidade: {{ contato.cidade }}</p>
                                <p class="text-muted">Profissão: {{ contato.profissao }}</p>
                                <p class="text-muted">Grupo: {{ contato.grupo.nome }}</p>
                            </div>
                        </div>

                    </div>
                </div>
    </div>

{% endblock %}